form(action="/contactAdd", method="post")
    section(name="fullName", required="true")
        header Full name
        p Your name
        input(type="text")
        footer Reply with name
    section(name="email", required="true")
        header Email
        p Your email address
        input(type="email")
        footer Reply with email
    section(name="interest", multi-select required="true")
        header Category
        p What would you like your micro-app to do?
        ul
            li(value="contact") Contact form
            li(value="faq") Frequently asked questions
            li(value="appointments") Books appointments
            li(value="event") Events management
            li(value="other") Something else
    section(name="message")
        header Message
        p Anything else you would like add
        input(type="text")
